.is-top-right {
  position: fixed;
  top: 5px;
  right: 5px;
}

html {
  overflow-y: hidden;
}

@supports (padding: env(safe-area-inset-left)) {
  html {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }

  .navbar {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}
