@import 'bulma/sass/utilities/controls';
@import 'bulma/sass/utilities/extends';
@import "bulma/sass/base/_all";
@import "bulma/sass/components/navbar";

$navbar-height-and-padding: $navbar-height + 0.25rem;

div {
  &.has-navbar-fixed-top {
    padding-top: $navbar-height-and-padding;
  }

  &.has-navbar-fixed-bottom {
    padding-bottom: $navbar-height;
  }
}

.is-top-right {
  position: fixed;
  top: 5px;
  right: 5px;
}

.app-content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  overflow-y: hidden;
}

@supports (padding: env(safe-area-inset-left)) {
  html {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }

  .navbar {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}
